<!-- A FormGroup aggregates the values of each child FormControl into one object, with each control name as the key.  -->
<!-- onSubmit() Method called when the "submit" event is triggered on the form. Triggers the ngSubmit emitter to emit the "submit" event as its payload. -->
<form [formGroup]="feedbackForm" (ngSubmit)="saveFeedback()">
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select formControlName="category">
        <mat-option value="feedback">Feedback</mat-option>
        <mat-option value="suggestion">Suggestion</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Input</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Textarea</mat-label>
      <textarea matInput formControlName="content"></textarea>
    </mat-form-field>
    <button type="submit">Submit</button>
  </form>
  <!-- https://material.angular.io/components/table/overview -->
  <mat-table [dataSource]="feedbacks" class="mat-elevation-z8">
    
    <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let feedback"> {{feedback.category}} </mat-cell>
    </ng-container>

  
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let feedback"> {{feedback.title}} </mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="content">
        <mat-header-cell *matHeaderCellDef> Textarea </mat-header-cell>
        <mat-cell *matCellDef="let feedback"> {{feedback.content}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

 <!-- https://material.angular.io/components/table/overview#table-row-binding this is to create an event -->
  