
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select formControlName="select">
        <mat-option value="feedback">Feedback</mat-option>
        <mat-option value="suggestion">Suggestion</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Input</mat-label>
      <input matInput formControlName="input">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Textarea</mat-label>
      <textarea matInput formControlName="textarea"></textarea>
    </mat-form-field>
    <button type="submit">Submit</button>


  