<form [formGroup]="feedbackForm" (ngSubmit)="saveFeedback()">
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select formControlName="category">
        <mat-option value="feedback">Feedback</mat-option>
        <mat-option value="suggestion">Suggestion</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Input</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Textarea</mat-label>
      <textarea matInput formControlName="content"></textarea>
    </mat-form-field>
    <button type="submit">Submit</button>
  </form>
<table>
    <tr>
      <th>Type</th>
      <th>Title</th>
      <th>Textarea</th>
    </tr>
    <tr *ngFor="let feedback of feedbacks">
      <td>{{feedback.category}}</td>
      <td>{{feedback.title}}</td>
      <td>{{feedback.content}}</td>
    </tr>
  </table>
 
  