
  <!-- https://codepen.io/RockStarwind/pen/WmGwwp
 O optiune anterioara -->
 <!-- this is the new one https://codepen.io/melnik909/pen/VQOodQ -->
<div class="page">
   
    <nav class="page__menu page__custom-settings menu">
      <ul class="menu__list r-list">
        <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Dashboard</a></li>
        <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Newsfeed</a></li>
        <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">FAQ</a></li>
      </ul>
    </nav>
  </div>
  
  