<div class="modal__content">
  <div class="gradient-line"></div>
  <h2 class="title">Add/Edit article</h2>
  <div class="inputs__container">
    

    <mat-form-field class="input">
      <input matInput [(ngModel)]="data.title" placeholder="Title" />
    </mat-form-field>

    <mat-form-field class="input textarea">
      <textarea
        matInput
        [(ngModel)]="data.content"
        id="formContent"
        cols="28"
        rows="7"
        placeholder="Content"
      ></textarea>
    </mat-form-field>
  </div>
  <mat-form-field>
     
    <select matNativeControl required [(ngModel)]="data.category">
      <option value="Recruitment & Onboarding">Recruitment & Onboarding</option>
      <option value="Compensation & Benefits">Compensation & Benefits</option>
      <option value="Workplace Policies & Environments">Workplace Policies & Environment</option>
      <option value="Professional Development & Performance">Professional Development & Performance</option>
      <option value="Conflict Resolution & Employee Support">Training Opportunities</option>
      <option value="Employee Resources & Services">Training Opportunities</option>
    </select>
  </mat-form-field>
  <div class="modal__buttons">
    <button mat-button (click)="closeModal()">Anulare</button>
    <button
      class="button button--pink"
      mat-button
      cdkFocusInitial
      (click)="saveArticle()"
    >
      Save
    </button>
  </div>
</div>
