.modal__content {
    background-color: white;
    padding-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    width: 800px;
    max-width: 100%; 
    max-height: 90vh; 
    overflow: auto;
    margin: auto;
}

/* .gradient-line{
	height: 20px;
	background: linear-gradient(90deg, #99B4E3, #7CE0D8);
} */
  
  .title {
    
    padding-top: 20px;
    font-size: 20px; 
    font-weight: bold;
    color: #5e6c84;
    text-align: center; 
    margin-bottom: 20px; 
    margin-top: 0;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px; 
  }
  
  .inputs__container {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    margin-bottom: 10px;
  }
  
  .textarea {
    height: 200px; 
  }
  
  button {
    border: none;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    margin-top: 10px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 400;
  }
  
  button.button {
    background: #5aac44;
    color: white;
    text-shadow: none;
    border: none;
    box-shadow: none;
  }
  
  button.button--pink {
    background-color: #e91e63;
    color: #fff;
  }
  
  .modal__footer {
    background-color: #f0f0f0;
    padding: 20px 0;
  }
  
  .modal__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: relative;
    margin-right: 20px;
    z-index: 1;
  }
  

