<div class="modal__content">
  <div class="gradient-line"></div>
  <h2 class="title">Add/Edit article</h2>
  <div class="inputs__container">
    

    <mat-form-field class="input">
      <input matInput [(ngModel)]="data.title" placeholder="Title" />
    </mat-form-field>

    <mat-form-field class="input textarea">
      <textarea
        matInput
        [(ngModel)]="data.content"
        id="formContent"
        cols="28"
        rows="7"
        placeholder="Content"
      ></textarea>
    </mat-form-field>
  </div>
  <mat-form-field>

    
     
    <select matNativeControl required [(ngModel)]="data.category">
     
      <option value="Important_HR_announcement">Important Hr Announcements</option>
      <option value="Upcoming_events">Upcoming events</option>
      <option value="Policy_changes">Policies Changes</option>
      <option value="Training_opportunities">Training Opportunities</option>
      <option value="News">News</option>
    </select>
  </mat-form-field>
  <mat-form-field class="input">
    Placeholder Section
    <input matInput [(ngModel)]="data.documentUrl" placeholder="Document URL" />
  </mat-form-field>
  <app-file-upload></app-file-upload>
  <div class="modal__buttons">
    <button mat-button (click)="closeModal()">Anulare</button>
    <button
      class="button button--pink"
      mat-button
      cdkFocusInitial
      (click)="saveArticle()"
    >
      Save
    </button>
  </div>
</div>
