<div class="modal glass">
  <div class="form-div glass">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2 class="title">Add/Edit article</h2>
    
      <div class="input-container ic1"> 
      
        <input class="input" type="text" [(ngModel)]="data.title" placeholder="Title" />
     
    </div>
    



      <div class="input-container ic1">
        <textarea class="input content"
          matInput
          [(ngModel)]="data.content"
       
          placeholder="Content"
        ></textarea>
      </div>
   
    
      <div class="input-container ic1">
      <select class="input" required [(ngModel)]="data.contentType">
        <option disabled selected value="">Select a category of article</option>
        <option value="News">News</option>
        <option value="HR Announcements">HR Announcements</option>
        <option value="Policy Changes">Policy Changes</option>
        <option value="Upcoming Events">Upcoming Events</option>
        <option value="Training Opportunities">Training Opportunities</option>
      </select>
</div>

    <div class="modal__buttons">
     
      <button
        class="submit"
        
        (click)="saveArticle()"
      >
        Save
      </button>
    </div>
  </div>
  </div>

