<div class="form glass">
    <div class="title">Welcome to HR Connect</div>
    <!-- <div class="subtitle">Let's create your account!</div> -->

    <form (ngSubmit)="submitForm()" [formGroup]="form" autocomplete="off">
        <div class="input-container ic1">
            <input matInput id="email" class="input" type="text" placeholder-login-form=" " formControlName="email"/> 
            <!-- <div class="cut cut-short"></div> -->
            <label for="email" class="placeholder-login-form">Email</label>
        </div>
        <div class="input-container ic2">
            <input matInput id="password" class="input" type="password" placeholder-login-form=" " formControlName="password"/>
            <!-- <div class="cut"></div> -->
            <label for="password" class="placeholder-login-form">Password</label>
        </div>
        
       <button type="submit" class="submit">login</button>
    </form>
    
</div> 