<button class="button" (click)="addArticle()">+ Add Article</button>

<body>
<div class="placeholder__container">
<div class="container__article">
  <div *ngFor="let article of articles">
    <div class="article">
      <h1 class="title">{{ article.title }}</h1>

      <p class="info__item">
        Added by&nbsp; {{ article.author }}&nbsp;&nbsp; • &nbsp;&nbsp;
        {{ article.date }}
      </p>
      <button class="actions__btn" (click)="editArticle(article)">Edit</button>
      <button class="actions__btn" (click)="deleteArticle(article.id)">Delete</button>
      
      
      
      <p>{{ article.content }}</p>
    </div>
  </div>
</div>
</div>
</body>
