<section>
  <div class="content-section">
    <div class="search-and-add-button">
      <div>
        <!-- ngModel connect our input to filterText -->
        <input
          type="text"
          placeholder="Search by title"
          style="
            width: 450px;
            padding: 2px 20px;
            margin: 10px 0px;
            height: 30px;
          "
          [(ngModel)]="filterText"
        />
      </div>
      <button
        type="button"
        class="btn btn-light addArticle"
        (click)="addArticle()"
      >
        Add Article
      </button>
    </div>
    <!-- paginator with ngx-paginator https://www.youtube.com/watch?v=qJ1UHAbGTWw&t=432s -->
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    


    <div class="container-articles">
      <!-- is a for and gets all the articles one by one -->
      <div *ngFor="let article of filteredArticles | paginate: { itemsPerPage: 2, currentPage: p }">
        <div class="card">
          <img src="{{ article.urlpic }}" class="card-img-top" />
          <div class="card-body">
            <div class="top-of-card">
              <h5 class="card-title">{{ article.title }}</h5>
              <div class="button-container">
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="editArticle(article)"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="btn btn-secondary delete"
                  (click)="deleteArticle(article.id)"
                >
                  Delete
                </button>
              </div>
            </div>
            <p class="card-text">
              {{ article.content }}
            </p>
            <div class="read-more-container">
              <!-- routerLink - Angular specific - when clicked will navigate to the route in the brackets - for instance - article/1 , 1 being fetched in the backend  -->
              <a [routerLink]="['/article', article.id]" class="btn btn-primary"
                >Read more</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
