<h1>Requests</h1>
<h4>On this page you can submit requests to the HR. Please choose one of the predefined requests types or submit one of
    your own.</h4>

<div class="form-div">

    <div class="input-container">
        Select request type:
        <select id="reqType" class="input" name="reqType" (change)="onReqTypeChange()">
            <option disabled selected value="">Request type</option>
            <option *ngFor="let reqType of reqTypes" [value]="reqType">{{ reqType.replaceAll('_',' ') }}</option>
        </select>
    </div>


    <form [formGroup]="requestForm" autocomplete="off" class="document-model">

        <!--EMPLOYED STATUS -->
        <section class="request-text" *ngIf="selectedReqType === 'Employed_status'">
            <h3>ADEVERINȚĂ</h3>

            Prin prezenta, se adeverește că domnul/doamna <p class="unchangeable-field">{{userProfile.lastName}}
                {{userProfile.firstName}}
            </p>

            domiciliat/ă în <p class="unchangeable-field">{{userProfile.address?.country}}</p>,

            județul <p class="unchangeable-field">{{userProfile.address?.county}}</p>,

            localitatea <p class="unchangeable-field">{{userProfile.address?.city}}</p>,

            <p class="unchangeable-field">{{userProfile.address?.street}} {{userProfile.address?.streetNumber}}
                {{userProfile.address?.flatNumber}}</p>

            identificat/ă prin CNP <p class="unchangeable-field">{{userProfile.identityCard?.cnp}}</p>

            act de identitate CI

            seria <p class="unchangeable-field">{{userProfile.identityCard?.series}}</p>

            nr. <p class="unchangeable-field">{{userProfile.identityCard?.number}}</p>

            eliberat de <p class="unchangeable-field">{{userProfile.identityCard?.issuer}}</p>

            la data de <p class="unchangeable-field">{{userProfile.identityCard?.issuingDate}}</p>,

            este angajat(ă) al/a HR Connect
            pe perioadă nedeterminată/determinată începând cu data de <p class="unchangeable-field">
                {{userProfile.joinDate}}</p>,

            în funcția de <p class="unchangeable-field">{{userProfile.position.replaceAll('_',' ')}}</p>,

            conform
            contractului individual de muncă nr. <p class="unchangeable-field">{{userProfile.id}}</p>/2048,
            înregistrat în Registrul General de evidență a salariaților conform legii.

            Prezenta se eliberează spre a-i servi la <input id="details" type="text" formControlName="details"
                placeholder="reason" required maxlength="250">
            <label for="details"></label>
        </section>

        <!-- CHANGE PERSONAL DATA -->
        <section *ngIf="selectedReqType==='Change_personal_data'" class="request-text">
            <input id="details" type="text" formControlName="details"
                placeholder="Please provide here the personal data you wish to change" required maxlength="250">
            <label for="details"></label>
        </section>

        <!-- CUSTOM REQUEST -->
        <section *ngIf="selectedReqType==='Custom_request'" class="request-text">
            <input id="details" type="text" formControlName="details"
                placeholder="Please describe here what kind of request do you need and all its necessary details" required maxlength="250">
            <label for="details"></label>
        </section>

        <!-- EQUIPMENT REQUEST -->
        <section *ngIf="selectedReqType==='Equipment_request'" class="request-text">
            <input id="details" type="text" formControlName="details"
                placeholder="Please write here the equipment you need and the reason you need it." required maxlength="250">
            <label for="details"></label>
        </section>

        <section class="request-text" *ngIf="selectedReqType === 'Resignation'">
            <h3>Demisie</h3>
            Subsemnatul <p class="unchangeable-field">{{userProfile.lastName}} {{userProfile.firstName}}</p>,

            domiciliat/ă în <p class="unchangeable-field">{{userProfile.address?.country}}</p>,

            județul <p class="unchangeable-field">{{userProfile.address?.county}}</p>, 

            localitatea <p class="unchangeable-field">{{userProfile.address?.city}}</p>, 

            strada <p class="unchangeable-field">{{userProfile.address?.street}}, 
                nr. {{userProfile.address?.streetNumber}}, 
                apartament {{userProfile.address?.flatNumber}}</p>, 

            identificat/ă prin CNP <p class="unchangeable-field">{{userProfile.identityCard?.cnp}}</p> 

            act de identitate CI  seria <p class="unchangeable-field">{{userProfile.identityCard?.series}}</p> 
            
            nr. <p class="unchangeable-field">{{userProfile.identityCard?.number}}</p> 
            
            eliberat de <p class="unchangeable-field">{{userProfile.identityCard?.issuer}}</p> 
            
            la data de <p class="unchangeable-field">{{userProfile.identityCard?.issuingDate}}</p>, 
            
            angajat(ă) al/a HR Connect pe perioadă nedeterminată începând cu data de <p class="unchangeable-field">{{userProfile.joinDate}}</p>, 
            
            în funcția de <p class="unchangeable-field">{{userProfile.position.replaceAll('_',' ')}}</p>, 
            
            prin prezenta vă rog să îmi aprobați încetarea raporturilor de muncă prin demisie.
        </section>

        <button type="button" class="submit" (click)="submitRequest()">Send request</button>
        <!-- Butonul de submit request. La evenimentul click se apeleaza functia submitRequest() a componentei curente (requests-user) si cererea va fi aplicata-->

    </form>



    <!-- CUSTOM REQUEST -->
    <!-- <section *ngIf="selectedReqType==='Custom request'" class="request-text">
            If you did not found the type of request you wish for among the existent templates, you can write your own
            down below. Include all the necessary details for it.
            <textarea id="customRequest"  formControlName="customRequest" name="customRequest" placeholder="Custom request" required rows="4" cols="50"></textarea>
            <label for="customRequest"></label>
        </section> -->












</div>