<app-navigation-bar></app-navigation-bar>

<div *ngIf="article" class="full-article-container">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8">
        <!-- Post content-->
        <article>
          <!-- Post header-->
          <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ article.title }}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">
              {{ article.date }} by {{ article.author }}
            </div>
            <!-- Post categories-->
            <a
              class="badge bg-secondary text-decoration-none link-light"
              href="#!"
              >{{ article.contentType }}</a
            >
          </header>
          <!-- Preview image figure-->
          <figure class="mb-4 image" >
            <img
              class="img-fluid rounded"
              src=""
              alt="..."
            />
          </figure>
          <!-- Post content-->
          <section class="mb-5">
            <p class="text-style">{{ article.content }}</p>
          </section>
        </article>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-header">Submited By</div>
          <div class="card-body">
            <img
              class="card-img-top author"
              src="https://meragor.com/files/styles//ava_800_800_wm/avatar-211523-000242.png"
            />
            <p class="fs-5 mb-4">{{ article.author }}</p>
            <p class="fs-5 mb-4">role of the author</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
