.card-img-top.author{
    width: 200px;
    height: 200px;
}
.text-style{
    white-space: pre-wrap;
}
.img-fluid rounded{
    margin-left: auto;
    margin-right: auto;
}
.mb-4 image{
    margin-left: auto !important;
    margin-right: auto !important;
}