<!-- The Modal -->
<div id="modal" class="modal">
    <!-- Modal content -->
    <div  id="particles-js">
        <span class="close" (click)="closeModal()">&times;</span>
        <!-- Butonul de ascundere formular. La evenimentul click se apeleaza functia closeModal() a componentei curente (add-user-modal) si modala se va inchide-->
        <div class="title">Add new user</div>

        <form [formGroup]="userForm">
            <!-- Specificam numele formularului din typescript -->


            <div class="input-container ic1">
                <input id="department" class="input" type="text" formControlName="department" required>
                <!-- la fiecare input specificam numele variabilei din typescript -->
                <div class="cut cut-short"></div>
                <label for="department" class="placeholder-add-user-form">Department:</label>
            </div>

            <div class="input-container ic2">
                <input id="team" class="input" type="text" formControlName="team" required>
                <div class="cut"></div>
                <label for="team" class="placeholder-add-user-form">Team:</label>
            </div>

            <div class="input-container ic2">
                <input id="role" class="input" type="text" formControlName="role" required>
                <div class="cut"></div>
                <label for="role" class="placeholder-add-user-form">Role:</label>
            </div>

            <div class="input-container ic2">
                <input id="name" class="input" type="text" formControlName="name" required>
                <div class="cut"></div>
                <label for="name" class="placeholder-add-user-form">Name:</label>
            </div>

            <div class="input-container ic2">
                <input id="email" class="input" type="email" formControlName="email" required>
                <div class="cut"></div>
                <label for="email" class="placeholder-add-user-form">E-mail:</label>
            </div>

            <div class="input-container ic2">
                <input id="phone" class="input" type="text" formControlName="phone" required>
                <div class="cut"></div>
                <label for="phone" class="placeholder-add-user-form">Phone number:</label>
            </div>

            <div class="input-container ic2">
                <input id="password" class="input" type="text" formControlName="password" required>
                <div class="cut"></div>
                <label for="password" class="placeholder-add-user-form">Password:</label>
            </div>

        </form>

        <div class="form glass" style="display: none;">
            <div class="title">Welcome to HR Connect</div>
            <!-- <div class="subtitle">Let's create your account!</div> -->
            <div class="input-container ic1">
                <input id="email" class="input" type="text" placeholder-add-user-form=" " />
                <div class="cut cut-short"></div>
                <label for="email" class="placeholder-add-user-form">Email</label>
            </div>
            <div class="input-container ic2">
                <input id="password" class="input" type="password" placeholder-add-user-form=" " />
                <div class="cut"></div>
                <label for="password" class="placeholder-add-user-form">Password</label>
            </div>

            <a href="/admin"><button type="text" class="submit">login</button></a>
        </div>

        <button type="button" class="submit" (click)="addUser()">Add</button>
        <!-- Butonul de adaugare utilizator. La evenimentul click se apeleaza functia addUser() a componentei curente (add-user-modal) si utilzatorul va fi inregistrat-->
    </div>
</div>