<!-- The Modal -->
<div class="modal glass">
    <!-- Modal content -->
    <div class="form-div glass">
        <div id="particles-js"></div>
        <span class="close" (click)="closeModal()">&times;</span>
        <!-- Butonul de ascundere formular. La evenimentul click se apeleaza functia closeModal() a componentei curente (add-user-modal) si modala se va inchide-->


        <ng-template [ngIf]="modalType==='editModalType'" [ngIfElse]="addModalType">
            <div class="title">Edit Account</div>
        </ng-template>
        <ng-template #addModalType>
            <div class="title">Add new user</div>
        </ng-template>


        <form [formGroup]="userForm" autocomplete="off">
            <!-- Specificam numele formularului din typescript -->

            <ng-template [ngIf]="modalRole==='admin'">
                <div class="input-container ic1">
                    <input id="department" class="input" type="text" formControlName="department" placeholder=" "
                        required maxlength="10">
                    <!-- la fiecare input specificam numele variabilei din typescript -->
                    <!-- <div class="cut cut-short"></div> -->
                    <label for="department" class="placeholder">Department:</label>
                </div>
                <div *ngIf="errorSource === 'department'" class="alert alert-danger" role="alert">
                    {{ errorMessage }}
                </div>

                <div class="input-container ic2">
                    <input id="function" class="input" type="text" formControlName="function" placeholder=" " required
                        maxlength="30">
                    <!--<div class="cut"></div>-->

                    <label for="function" class="placeholder">Function:</label>
                </div>
                <div *ngIf="errorSource === 'function'" class="alert alert-danger" role="alert">
                    {{ errorMessage }}
                </div>

                <div class="input-container ic2">
                    <select id="role" class="input" name="role" formControlName="role" (change)="onRoleChange()">
                        <option disabled selected value="">Role</option>
                        <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                    </select>

                    <!-- <label for="role" class="placeholder"></label> -->
                </div>
                <div *ngIf="errorSource === 'role'" class="alert alert-danger" role="alert">
                    {{ errorMessage }}
                </div>

                <div class="input-container ic2">
                    <input id="name" class="input" type="text" formControlName="name" placeholder=" " required
                        maxlength="50">
                    <!--<div class="cut"></div>-->

                    <label for="name" class="placeholder">Name:</label>
                </div>
                <div *ngIf="errorSource === 'name'" class="alert alert-danger" role="alert">
                    {{ errorMessage }}
                </div>

                <div class="input-container ic2">
                    <input id="email" class="input" type="email" formControlName="email" placeholder=" " required
                        maxlength="60">
                    <!--<div class="cut"></div>-->

                    <label for="email" class="placeholder">E-mail:</label>
                </div>
                <div *ngIf="errorSource === 'email'" class="alert alert-danger" role="alert">
                    {{ errorMessage }}
                </div>

                <!-- <div class="alert alert-danger" role="alert">test alert</div> -->

            </ng-template>


            <div class="input-container ic2">
                <input id="phone" class="input" type="text" formControlName="phone" placeholder=" " required
                    maxlength="10">
                <!--<div class="cut"></div>-->

                <label for="phone" class="placeholder">Phone number:</label>
            </div>
            <div *ngIf="errorSource === 'phone'" class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>

            <div class="input-container ic2">
                <input id="password" class="input" type="text" formControlName="password" placeholder=" " required
                    maxlength="60">
                <!--<div class="cut"></div>-->

                <label for="password" class="placeholder">Password:</label>
            </div>
            <div *ngIf="errorSource === 'password'" class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>

            <div *ngIf="errorSource === 'default'" class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>

        </form>


        <ng-template [ngIf]="modalType==='editModalType'">
            <button type="button" class="submit" (click)="updateUser()">Update</button>
            <!-- Butonul de update utilizator. La evenimentul click se apeleaza functia updateUser() a componentei curente (add-user-modal) si utilzatorul va fi updated-->
        </ng-template>
        <ng-template [ngIf]="modalType!=='editModalType'">
            <button type="button" class="submit" (click)="addUser()">Add</button>
            <!-- Butonul de adaugare utilizator. La evenimentul click se apeleaza functia addUser() a componentei curente (add-user-modal) si utilzatorul va fi inregistrat-->
        </ng-template>
        <!-- Nu am folosit ngIfElse pentru ca apareau conflicte de CSS -->

    </div>
</div>