<div class="search-and-accordion-container">
  <h2>Frequently Asked Questions</h2>
  <p>
    FAQs are posted here in response to questions sent by staff members. Click
    any of the topics to see a list of questions and answers materials in order
    by date posted. You can set the filter to sort for FAQs for one or more
    topics.
  </p>
  <p>
    You can submit a question by emailing hr-faq@hr-connect.com . Please note
    that emails are not responded to individually. However, as many queries as
    possible are turned into Frequently Asked Questions which are posted here.
  </p>
  

  <div class="search-and-add-button">
    <div>
      <!-- ngModel connect our input to filterText -->
      <input class="form-control" id="myInput" type="text" placeholder="Search by FAQ title.." [(ngModel)]="filterText" />
    </div>
    <button
      type="button"
      class="btn btn-light addArticle"
      (click)="addFaq()"
    >
      Add FAQ
    </button>
  </div>

  <div class="container-faqs">
    <div *ngFor="let faq of filteredFaqs">


  <div class="accordion" id="accordionPanelsStayOpen">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseOne"
        >
        {{faq.id}}.  {{faq.title}} 
        </button>
        <div class="button-container">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="editFaq(faq)"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-secondary delete"
              (click)="deleteFaq(faq.id)"
            >
              Delete
            </button>
          </div>
      </h2>
      <div
        id="panelsStayOpen-collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne"
      >
        <div class="accordion-body">
          {{faq.content}}
        </div>
      </div>
    </div>
  
   
  </div>
</div>
  </div>
