<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Serif&family=Open+Sans&family=Oswald&family=PT+Sans&family=Raleway&display=swap" rel="stylesheet">
<div class="search-and-accordion-container">
  <h2 class="faq-header">Frequently Asked Questions</h2>
  <p class="introduction-text">
    FAQs are posted here in response to questions sent by staff members. Click
    any of the topics to see a list of questions and answers materials in order
    by date posted. You can set the filter to sort for FAQs for one or more
    topics.
  </p>
  <p class="introduction-text">
    You can submit a question by emailing hr-faq@hr-connect.com . Please note
    that emails are not responded to individually. However, as many queries as
    possible are turned into Frequently Asked Questions which are posted here.
  </p>

  <div class="search-and-add-button">
    <div>
      <!-- ngModel connect our input to filterText -->
      <input
        class="form-control"
        id="myInput"
        type="text"
        placeholder="Search by FAQ title.."
        [(ngModel)]="filterText"
      />
    </div>
    
  </div>

  <app-spinner></app-spinner>
  
  <div class="container-faqs">
    <!-- https://material.angular.io/cdk/drag-drop/overview#cdk-drag-drop-sorting  we have have a drop list material component that then drags and drops the accordions and arranges by the order item-->

  <!-- When you click on a button you go to the catagory -->
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" (click)="scrollToCategory('Important_HR_announcement')">Important HR Announcement</button>
      <button type="button" class="btn btn-primary" (click)="scrollToCategory('Upcoming_events')">Upcoming Events</button>
      <button type="button" class="btn btn-primary" (click)="scrollToCategory('Policy_changes')">Policy Changes</button>
      <button type="button" class="btn btn-primary" (click)="scrollToCategory('Training_opportunities')">Training Opportunities</button>
      <button type="button" class="btn btn-primary" (click)="scrollToCategory('News')">Latest Updates</button>
    </div>
    <button type="button" class="btn btn-light addFaq" (click)="addFaq()">
      Add FAQ
    </button>
      <!-- loop goes by category - represents one item in the faqCategory - then we will add faq items from the BE within each category  -->
    <div *ngFor="let category of faqCategories" [id]="category">
      <!-- filter the categories that do not have any items in them so they don't appear when we are searching for data  -->
      <div *ngIf="filteredFaqsByCategory[category].length > 0">
      <!-- the faq will have an updated name instead of the one in the database-->
      <h2 class="category-title">{{ categoryDisplayNames[category] }}</h2>
     
      <div
        cdkDropList
        [cdkDropListData]="filteredFaqsByCategory[category]"
        (cdkDropListDropped)="drop($event)"
      >
      
        <div
          *ngFor="let faq of filteredFaqsByCategory[category]"
          cdkDrag
          [cdkDragData]="faq"
        >
          <div class="accordion" id="accordionPanelsStayOpen">
            <div class="accordion-item">
              <!-- we give an id to all the accordion headers | aria-expanded -> expanded or not |  -->
              <!-- [attr.data-bs-target] -> attribute binding https://stackoverflow.com/questions/35943518/how-to-pass-variable-to-data-target-angular-2  -->
              <h2
                class="accordion-header"
                id="panelsStayOpen-heading{{ faq.id }}"
              >
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#panelsStayOpen-collapse' + faq.id"
                  aria-expanded="false"
                >
                  <!-- without binding above the accordions would not open/ same for closure -->
                   {{ faq.title }}
                </button>
                <div class="button-container">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="editFaq(faq)"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary delete"
                    (click)="deleteFaq(faq.id)"
                  >
                    Delete
                  </button>
                </div>
              </h2>
              <div
                id="panelsStayOpen-collapse{{ faq.id }}"
                class="accordion-collapse collapse"
                [attr.aria-labelledby]="'panelsStayOpen-heading' + faq.id"
              >
                <div class="accordion-body">
                  {{ faq.content }}
                </div>
                <div class="card">
                  <!-- if there is no documentUrl the card will not appear -->
                  <div class="card-body" *ngIf="faq.documentUrl">
                    For more details please click on this document
                    <a href="{{ faq.documentUrl }}" target="_blank">this document</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
