<app-navigation-bar></app-navigation-bar>

<div id="profile-page">
    <app-profile-card></app-profile-card>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <doughnut-chart-indexlabel [title]="title" [labels]="ceva" [values]="valori"></doughnut-chart-indexlabel>
            </div>
            <div class="col-sm">
                <doughnut-chart-indexlabel [title]="title" [labels]="ceva" [values]="valori"></doughnut-chart-indexlabel>
            </div>
            <div class="col-sm">
                <doughnut-chart-indexlabel [title]="title" [labels]="ceva" [values]="valori"></doughnut-chart-indexlabel>
            </div>
        </div>
    </div>
</div>
